<h1>Your Snow Board</h1>
<h2>{{snowboard.name}}</h2>
<p>{{snowboard.price}}</p>
<a href="/companies/{{companyId}}/snowboards/{{snowboard._id}}/edit">Edit Snowboard</a>
<a href="/companies/{{companyId}}/snowboards/{{snowboard._id}}/delete">Delete Snowboard</a>
